@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind utilities;

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input {
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-family: "Dancing Script", cursive;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #bebebea9 #333333;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: #bebebea9;
}

*::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 20px;
  /* border: 3px solid rgb(219, 219, 219); */
}
